.appraiseList .main-title {
    position: relative;
}
.appraiseList .title-site {
    height: 41px;
}
.appraiseList .title-fix {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 40px;
    overflow: hidden;
    background: #fff;
    border-bottom: 1px solid #ccc;
}
.appraiseList .title-fix a {
    position: absolute;
    top: 6px;
    left:10px;
    z-index: 2;
    display: block;
    width: 29px;
    height: 29px;
    font-size: 22px;
}
.appraiseList .icon {
    width: 48px;
    height: 48px;
    vertical-align: 0px;
    fill: currentColor;
    position: absolute;
    font-size: 18px;
    line-height: 40px;
    margin-left: 10px;
}
.appraiseList .title-fix p {
    line-height:40px;
    width: 230px;
    margin: 0 auto;
    font-size: 15px;
    text-align: center;
    color: #333;
}
.appraiseList .product-score {
    position: relative;
    height: 41px;
    line-height: 41px;
    padding: 10px;
    background-color: #fff;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: center;
    -webkit-align-items: center;
    box-shadow: 0.01rem 0.01rem 0.05rem rgba(7,0,2,.2);
    -webkit-box-shadow: 0.01rem 0.01rem 0.05rem rgba(7,0,2,.2);
}
.appraiseList .comment-wrap {
    margin-top: 10px;
    background-color: #fff;
}
.appraiseList .comment-item {
    position: relative;
    border-bottom: 1px solid #ccc;
}
.appraiseList .commet-top {
    position: relative;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: center;
    -webkit-align-items: center;
    padding: 0 .2rem;
    height: 48px;
    line-height: 48px;
}
.appraiseList .user-img {
    width: 29px;
    height: 29px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    margin-right: 5px;
}
.appraiseList .good, .middle, .bad {
    font-size: 29px;
    vertical-align: middle;
    margin-right: 5px;
}
top::after, .commet-top::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate3D(-50%,0,0) scaleY(0.5);
    -webkit-transform: translate3D(-50%,0,0) scaleY(0.5);
    width: 95%;
    height: 1px;
    border-bottom: 1px solid #ccc;
}
.appraiseList .dropload-up, .dropload-down {
    position: relative;
    height: 0;
    overflow: hidden;
    font-size: 12px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.appraiseList .dropload-down {
    height: 48px;
}
.dropload-refresh, .dropload-update, .dropload-load, .dropload-noData {
    height: 48px;
    line-height: 48px;
    text-align: center;
    color: gray;
}
.appraiseList .comment-content {
    padding: 14px 10px;
    line-height: 29px;
    word-wrap: break-word;
    font-size: 12px;
}