.Changepassword{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	background-color:  #f2f2f2;
	align-content: space-around;
}
.Changepassword>p{
	color: #7f4395;
	width: 90%;
	height: 80px;	
	padding-left: 5%;
}
