.biyao_header {
	width: 100%;
	z-index: 10;
	background-color: #fff;
}
.header-search-box {
	padding: 5px 10px 0 10px;
	background-color: #fff;
}

.header-search {
	display: block;
	width: 100%;
	height: 30px;
	line-height: 30px;
	font-size: 13px;
	border-radius: 3px;
	background-color: #f2f2f2;
	color:#999;
}

.header-search-icon {
	display: inline-block;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
}

.header-nav {
	position: relative;
}

.hid_drag_ul li {
	width: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 15px;
}

.hid_drag_box {
	margin-right: 50px;
	border-bottom: 1px solid transparent;
}

.hid_drag_ul li a {
	display: block;
	color: #999;
}



.navArrow_icon_down {
	position: absolute;
	top: 0;
	right: 0;
	width: 50px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background-color: #fff;
	z-index: 1;
	font-size: 12px;
}

.nav_sort_box {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
	background-color: #fff;
	font-size: 12px;
}

.nav_sort_box .nav_sort_title {
	display: flex;
	justify-content: space-between;
	line-height: 30px;
	border-bottom: 1px solid #F8F8F8;
	margin-bottom: 5px;
	padding-left: 10px;
}

.navArrow_icon_up {
	width: 50px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background-color: #fff;
}

.click_show_sort {
	padding: 5px 10px 0 10px;
}

.nav_sort_box .click_show_ul {
	display: flex;
	flex-wrap: wrap;
}

.nav_sort_box .click_show_ul li {
	width: 18%;
	height: 25px;
	border: 1px solid #ccc;
	border-radius: 20px;
	text-align: center;
	line-height: 25px;
	margin: 0 2% 5px 0;
}

.nav_sort_box .click_show_ul li a {
	font-size: 12px;
}

.hid_drag_ul .navItem a{
	color: purple;
	border-bottom: 1px solid purple;
}
