.needtosay_box{
	border-bottom: 1px solid #F8F8F8;
	padding: 0 10px;
	background-color: #fff;
}
.needtosay_box .needtosay_content{
	display: flex;
	text-overflow:ellipsis;
	font-size: 12px;
}
.needtosay_box .needtosay_content img{
	width: 100px;
	height: 30px;
}
.needtosay_box .txt{
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	line-height: 30px;
}