.goodsDtails_banner .swiper-container img{
    width: 100%;
    height: 360px;
} 
.goodsDtails_banner .swiper-pagination{
	float: right;
	width: 58px;
	text-align: center;
	position: absolute;
	left: 78%;
    bottom: 21px;
    color: #fff;
}
.goodsDtails_banner .icon{
	position: absolute;
    font-size: 18px;
    color: #ccc;
    /* box-shadow: 1px 1px 1px #ccc; */
    z-index: 10;
    left: 10px;
    top: 10px;
}
