.goodsDetailsSizeCheck{
	/*overflow: hidden;*/
	/*position: fixed;
	bottom: 430px;
	left: 0;
	right: 0;*/
	z-index: 3;
	width: 100%;
	height: 100%;
}
.choose-size-wrap-fadeIn {
    transform: translate3D(0,0,0);
    -webkit-transform: translate3D(0,0,0);
}
.choose-size-wrap, .supplier-services-detial-wrap {
    position: absolute;
    bottom: 432px;
    left: 0;
    height: 432px;
    width: 100%;
    background-color: #fff;
    z-index: 100;
    transition: transform .3s ease;
    -webkit-transition: transform .3s ease;
    transform: translate3D(0,100%,0);
    -webkit-transform: translate3D(0,100%,0);
}
.choose-size-top {
    position: relative;
    width: 100%;
    height: 106px;
    background-color: #fff;
    z-index: 10;
}
.choose-size-top-img {
    position: absolute;
    top: -11px;
    left: 10px;
    width: 102px;
    height: 102px;
    border: 1px solid #ccc;
    background-color: #fff;
}
.choose-size-title-price {
    margin-left: 123px;
    padding-top: 10px;
    width: 226px;
}
.choose-size-price-text, .choose-size-price-text span {
    font-size: 17px;
    color: #f33;
}
.choose-size-price-text, .choose-size-price-text span {
    font-size: 17px;
    color: #f33;
}
.choose-size-duration-text {
    margin: 6px 0;
}
.choose-size-duration-text, .choose-size-duration-text span {
    color: gray;
}
.choose-size-choosed-style {
    position: relative;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.choose-size-choosed-tit {
    position: absolute;
    color: #828282;
    font-size: 12px;
}
.choose-size-choosed-text {
    line-height: 14px;
    font-size: 12px;
    text-indent: 46px;
}
.close-choose-size {
    position: absolute;
    top: .15rem;
    right: 12px;
    width: 21px;
    height: 21px;
    font-size: 21px;
}
.icon {
    width: 48px;
    height: 48px;
    vertical-align: -7px;
    fill: currentColor;
    overflow: hidden;
}
.choose-size-top::after {
    content: "";
    position: absolute;
    left: 50%;
    border-top: 1px solid #ccc;
    bottom: 0;
    width: 95%;
    height: 1px;
    transform: translate3d(-50%,0,0) scaleY(0.5);
    -webkit-transform: translate3d(-50%,0,0) scaleY(0.5);
}
.gl-choose-lens-content-wrap {
    position: relative;
    -webkit-overflow-scrolling: touch;
}
.choose-size-content {
    position: relative;
    width: 100%;
    padding: 19px 10px;
    padding-top: 0;
    overflow-y: auto;
    max-height: 278px;
    padding-bottom: 14px;
}
.choose-num-wrap {
    position: relative;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    box-pack: justify;
    -webkit-box-pack: justify;
    align-items: center;
    -webkit-align-items: center;
    height: 48px;
    line-height: 48px;
    margin-top: 14px;
}
.choose-num-wrap::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #ccc;
    transform: scaleY(0.5);
    -webkit-transform: scaleY(0.5);
}
.contral-num {
    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    align-items: center;
    -webkit-align-items: center;
    height: 26px;
    border: 1px solid #dadada;
    border-radius: .05rem;
}
.count-reduce {
    border-top-left-radius: .03rem;
    border-bottom-left-radius: .03rem;
}
.count-reduce, .count-add {
    position: relative;
    width: 24px;
    height: 24px;
    background-color: #F4F4F4;
}
.buy-count {
    height: 25px;
    line-height: 25px;
    padding: 0 14px;
    border-left: 1px solid #dadada;
    border-right: 1px solid #dadada;
    font-size: 14px;
}
.count-add {
    border-top-right-radius: .03rem;
    border-bottom-right-radius: .03rem;
}
.count-reduce, .count-add {
    position: relative;
    width: 24px;
    height: 24px;
    background-color: #F4F4F4;
}
.count-horizontal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 1px;
    background-color: #353535;
    transform: translate3d(-50%,-1px,0);
    -webkit-transform: translate3d(-50%,-1px,0);
}
.count-vertical {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1px;
    height: 50%;
    background-color: #353535;
    transform: translate3d(-1px,-50%,0);
    -webkit-transform: translate3d(-1px,-50%,0);
}
.choose-size-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 46px;
    line-height: 46px;
    width: 100%;
    text-align: center;
    background-color: #fff;
}
.choose-bottom-btn-wrap {
    position: relative;
    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    align-items: center;
    -webkit-align-items: center;
}
.buy-shopcar-choose-sure, .buy-now-choose-sure {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 46px;
    line-height: 46px;
    text-align: center;
    font-size: 15px;
    color: #fff;
    background-color: #8443a4;
}
.buy-shopcar-choose-sure, .buy-now-choose-sure {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-size: 15px;
    color: #fff;
    background-color: #8443a4;
}
.choose-bottom-btn-wrap li {
    position: relative;
    flex-grow: 1;
    -webkit-flex-grow: 1;
    font-size: 14px;
    width: 50%;
    height: 46px;
}
.buy-shopcar-choose {
    position: relative;
    font-family: PingFang-SC-Medium;
    font-size: 15px;
    color: gray;
    background-color: #fff;
}
.specs-detial-normalSpecs {
    position: relative;
    height: 35px;
    /*width: 110px;*/
    line-height: 35px;
    padding: 0 18px;
    margin-right: 5%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    font-size: 13px;
}
.Specs-list {
    display: flex;
    display: -webkit-flex;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    align-items: center;
    -webkit-align-items: center;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    margin-top: .2rem;
}
.choose-title-wrap {
    padding-top: .4rem;
}